<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button
        class="button button-icon icon ion-ios-minus-outline"
        ng-click="vm.shouldShowDelete = !vm.shouldShowDelete; vm.shouldShowReorder = false"
      ></button>
    </div>
    <h1 class="title">Todos</h1>
    <div class="buttons">
      <button
        class="button"
        ng-click="vm.shouldShowDelete = false; vm.shouldShowReorder = !vm.shouldShowReorder"
      >
        Ranger
      </button>
    </div>
  </ion-header-bar>
  <ion-content id="todos" class="header">
    <ion-list
      show-delete="vm.shouldShowDelete"
      show-reorder="vm.shouldShowReorder"
      can-swipe="vm.listCanSwipe"
    >
      <ion-item ng-repeat="todo in vm.todos">
        <h2>{{ todo.title }}</h2>

        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
        <ion-option-button class="button-info" ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-delete-button
          class="ion-minus-circled"
          ng-click="vm.todos.splice($index, 1)"
        >
        </ion-delete-button>
        <ion-reorder-button
          class="ion-navicon"
          on-reorder="reorderItem(item, $fromIndex, $toIndex)"
        >
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
