<ion-header-bar align-title="center" class="bar-positive">
  <button
    class="button button-icon icon ion-chevron-left"
    ng-click="$ctrl.goBack()"
  ></button>
  <h1 class="title">{{ $ctrl.title }}</h1>
</ion-header-bar>

<ion-content class="has-header">
  <div class="card" ng-if="!$ctrl.selectedCategory.measures.length">
    <div class="item item-text-wrap">Pas de measures pour cette categorie</div>
  </div>
  <div
    class="card"
    ng-repeat="measure in $ctrl.selectedCategory.measures"
    ng-click="$ctrl.selectMeasure(measure)"
    ng-if="!!$ctrl.selectedCategory.measures.length"
  >
    <div class="item item-avatar">
      <img ng-src="{{measure.meta.thumbnail}}" />
      <h2 ng-style="{color: measure.meta.color}">{{measure.meta.title}}</h2>
      <p>
        <a href="#" class="subdued">{{measure.meta.last_activity.time}}</a>
      </p>
    </div>
  </div>
</ion-content>
<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab
    ng-repeat="category in $ctrl.categories"
    title="{{category.title}}"
    icon-on="ion-ios-filing"
    icon-off="ion-ios-filing-outline"
    on-select="$ctrl.onTabSelected(category)"
  >
  </ion-tab>
</ion-tabs>
