.login-content {
  $border-width: 2px;
  $border-radius: 10px;
  .item-image {
    border: none;
  }
  form {
    label {
      margin: 1rem auto;
      input {
        text-align: center;
      }
    }
  }
}
