<ion-view>
  <ion-content id="home" class="has-header" padding>
    <h1 class="primary">
      {{ $ctrl.title }}
    </h1>
    <div class="list card">
      <a href="#/todos" class="item item-icon-left">
        <i class="icon ion-edit"></i>
        Mes taches
      </a>

      <a href="#" class="item item-icon-left"
        >D
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>
    </div>
  </ion-content>
</ion-view>
