<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">{{ $ctrl.title }}</h1>
  </ion-header-bar>

  <ion-content id="home" class="has-header" padding>
    <div class="card">
      <div class="item item-avatar">
        <img data-ng-src="data:image/png;base64,{{ $ctrl.user.avatar }}" />
        <h2>{{ $ctrl.user.nickname }}</h2>
        <p>{{ $ctrl.user.email }}</p>
      </div>
    </div>
    <h1 class="primary"></h1>
    <div class="list card">
      <a href="#/todos" class="item item-icon-left">
        <i class="icon ion-edit"></i>
        Mes taches
      </a>

      <a href="#" class="item item-icon-left"
        >D
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>
    </div>
  </ion-content>
</ion-view>
